/* Var defined Styles */
:root {
    --color-primary: #ffffff;
    --color-secondary: #04b4e0;

    --color-background: #f2f7f9; /* #ededed*/
    --color-transparent: transparent;

    --color-icons: #b5b6b7;
    --color-titles: #222222;
    --color-subtitle: #888888;
    --color-text: #555555;

    --color-border-reviews: #e5e6e7;
    --color-company: #a5a6a7;
}


/* General Styles */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    color: var(--color-titles);
}

/* Background Image */
.background {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -125px;
}

/* Layout Styles */
.layout {
    position: relative;
    /*border: 1px solid red;*/
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;


    border-radius: 4rem ;
    -webkit-border-radius: 4rem ;
    -moz-border-radius: 4rem ;
    -ms-border-radius: 4rem ;
    -o-border-radius: 4rem ;
    box-shadow: 0 0 100px -5px rgba(0,0,0,0.25);
}

/* Layout Blue (aside)*/
.layout__aside {
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    -webkit-border-radius: 4rem 0 0 4rem;
    -moz-border-radius: 4rem 0 0 4rem;
    -ms-border-radius: 4rem 0 0 4rem;
    -o-border-radius: 4rem 0 0 4rem;

    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.user-info__container-img {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.user-info__img {
    width: 100%;
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}

.user-info__container-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 9%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #ffffff, #ffffff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.4;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}

.user-info__name {
    margin-top: 3.2rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--color-primary);
}

.user-info__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-primary);
}

.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: row;
}

.social__option {
    width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    line-height: 4.2rem;
    opacity: 0.8;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.social__option:hover {
    opacity: 1;
    background-color: rgba(255,255,255,0.20);
}

.user-info__buttons {
    margin-top: 1rem;
    margin-bottom: 7rem;
}

.user-info__btn {
    padding: 1.5rem 2rem 1.5rem 2rem;
    border: 2px solid var(--color-primary);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.25);
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
}

.user-info__btn:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.user-info__footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}

/* Layout Primary Contente */
.layout__content {
    grid-area: content;
    height: 100%;
    min-height: 100%;

    background-color: var(--color-secondary);
    border-radius: 0px 4rem 4rem 0rem;
    -webkit-border-radius: 0px 4rem 4rem 0rem;
    -moz-border-radius: 0px 4rem 4rem 0rem;
    -ms-border-radius: 0px 4rem 4rem 0rem;
    -o-border-radius: 0px 4rem 4rem 0rem;
}

.content__page {
    min-height: 100%;
    background-color: var(--color-primary);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__name {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.page__job {
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--color-subtitle);
}

/* Menu Layout */
.layout__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100px;
    min-width: 10rem;
    background-color: var(--color-transparent);
}

.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-primary);
    padding: 3rem 0rem 3rem 0rem;
    margin-left: 2rem;
    width: 60%;
    height: 31rem;
    box-shadow: 0 0 3rem -0.5rem rgba(0,0,0,0.15);
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
}

.menu__option {
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon {
    color: var(--color-icons);
    font-size: 2rem;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
}

.menu__icon:hover .menu__icon,
.menu__link--active .menu__icon {
    color: var(--color-secondary);
}

.menu__overlay {
    display: block;
    position: absolute;
    right: 0;
    margin-top: -3.3rem;
    opacity: 0;
    color: var(--color-primary);
    white-space: nowrap;
    background-color: var(--color-secondary);
    padding: 0.8rem 2rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
    -webkit-border-radius: 1rem 0rem 0rem 1rem;
    -moz-border-radius: 1rem 0rem 0rem 1rem;
    -ms-border-radius: 1rem 0rem 0rem 1rem;
    -o-border-radius: 1rem 0rem 0rem 1rem;
}

/* About Me Page */
.contente__about {
    display: block;
    padding: 4rem 3rem;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}

.about__header {
    display: inline-block;
    margin-bottom: 3rem;
}

.about__title {
    font-size: 3rem;
    position: relative;
}

.about__title::after {
    content:"";
    position: absolute;
    width: 50px;
    height: 25px;
    top: 20px;
    right: -20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0%, transparent 100% );
    background-size: 0.6rem 0.6rem;
}

.title__color {
    color: var(--color-secondary);
}

/* Personal Info */
.about__personal-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.personal-info__bio {
    flex-basis: 56%;
}

.personal-info__description {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.personal-info__data {
    flex-basis: 44%;
    padding: 0 1.5rem;
}

.personal-info__option {
    margin-bottom: 1rem;
}

.personal-info__title {
    margin-right: 0.5rem;
    color: var(--color-secondary);
    font-weight: 600;
}

/* Styles About comp */

.about__services,
.about__reviews,
.about__clients,
.about__prices,
.about__additional {
    width: 100%;
    margin-bottom: 3rem;
}

.services__header, 
.reviews__header,
.clients__header,
.about__header,
.additional__header {
    display: inline-block;
    position: relative;
    margin-bottom: 2.5rem;
}

.services__title,
.reviews__title,
.clients__title,
.prices__title,
.additional__title {
    font-size: 2.5rem;
}

.services__title::after,
.reviews__title::after,
.clients__title::after,
.prices__title::after,
.additional__title::after {
    content:"";
    position: absolute;
    width: 30px;
    height: 18px;
    top: 17px;
    right: -10px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0%, transparent 100% );
    background-size: 0.6rem 0.6rem;
}

.services__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__service {
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.services__color {
    color: var(--color-secondary);
}

.service__icon .fa-solid {
    color: var(--color-secondary);
    font-size: 3.5rem;
}

.service__title {
    font-size: 2rem;
    margin: 0.5rem 0rem;
}

.service__description {
    font-size: 1.4rem;
    text-align: justify;
    font-weight: 500;
}

/* Reviews */
.reviews__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__review {
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    border: 2px solid var(--color-border-reviews);
    padding: 0rem 2.5rem 1.5rem 2.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.review__img-content {
    width: 100%;
}

.revie__img {
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    -webkit-border-radius: 9rem;
    -moz-border-radius: 9rem;
    -ms-border-radius: 9rem;
    -o-border-radius: 9rem;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,0.25);

    margin: 0 auto;
    margin-top: -4rem;
    margin-bottom: 2rem;
}

.review__description {
    margin-bottom: 1rem;

}

.review__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.review__author {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review__name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.review__company {
    color: var(--color-company);
    font-weight: 300;
    font-size: 1.3rem;
}

.review__icon {
    font-size: 4rem;
    opacity: 0.5;
    color: var(--color-secondary);
}

/* Clients */
.about__clients {
    width: 100%;
    margin-bottom: 2rem;
}

.clients__header {
    margin-bottom: 3rem;
}

.clients__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients__img {
    width: 150px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.clients__link {
    display: block;
    width: 100%;
    opacity: 0.6;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.clients__link:hover {
    opacity: 1;
}

/* Prices */
.prices__content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.prices__box {
    flex-basis: 50%;
    border: 2px solid var(--color-border-reviews);
    padding: 3rem;
    margin-right: 3rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.prices__box:last-of-type {
    margin-right: 0rem;
}

.prices__box:hover {
    box-shadow: 0 18px 24px -10px rgba(0,0,0,0.15);
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}

.prices__subtitle {
    margin-bottom: 3rem;
}

.price__text {
    display: inline-block;
    position: relative;
}

.prices__box:hover .price__text::after {
    content: "";
    height: 0.2rem;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    bottom: 0.3rem;
    right: 0;
}

.prices__price {
    padding-bottom: 1rem;
}

.price__number {
    display: block;
    font-size: 4.5rem;
    line-height: 1;
    color: var(--color-titles);
}

.price__advice {
    color: var(--color-subtitle);
    display: block;
}

.prices__buy {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.price__btn {
    display: inline-block;
    border: 2px solid var(--color-border-reviews);
    box-shadow: 0 10px 10px -8px var(--color-border-reviews);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    padding: 1.3rem 3rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.price__btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-secondary);
}

.prices__reward {
    font-size: 1.4rem;
    padding: 0.5rem 0rem;
}

/* Aditional Info */
.additional__content {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.additional__info {
    flex-basis: 30%;
    border: 2px solid var(--color-border-reviews);
    text-align: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 2.5rem 1rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.additional__info:hover {
    box-shadow: 0 18px 24px -10px rgba(0,0,0,0.15);
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
}

.additional__icon {
    font-size: 3.3rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.additional__subtitle {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.additional__quantity {
    display: block;
    font-size: 3.6rem;
    line-height: 5rem;
    margin: 1.5rem 1rem;
    margin-bottom: 0px;
    color: var(--color-subtitle);
}