/* Animations Banner Principal */

@keyframes showRight {
    from {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes showLeft {
    from {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes showTop {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@keyframes moveShape3 {
    0% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(50px) translateY(-200px);
        -webkit-transform: translateX(50px) translateY(-200px);
        -moz-transform: translateX(50px) translateY(-200px);
        -ms-transform: translateX(50px) translateY(-200px);
        -o-transform: translateX(50px) translateY(-200px);
    }

    75% {
        transform: translateX(800px);
        -webkit-transform: translateX(800px);
        -moz-transform: translateX(800px);
        -ms-transform: translateX(800px);
        -o-transform: translateX(800px);
    }

    100% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    } 
}

@keyframes moveShape4 {
    0% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(-50px) translateY(200px);
        -webkit-transform: translateX(-50px) translateY(200px);
        -moz-transform: translateX(-50px) translateY(200px);
        -ms-transform: translateX(-50px) translateY(200px);
        -o-transform: translateX(-50px) translateY(200px);
    }

    75% {
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
    }

    100% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    } 
}

@keyframes moveShape5 {
    0% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    }

    40% {
        transform: translateX(-600px) translateY(-500px);
        -webkit-transform: translateX(-600px) translateY(-500px);
        -moz-transform: translateX(-600px) translateY(-500px);
        -ms-transform: translateX(-600px) translateY(-500px);
        -o-transform: translateX(-600px) translateY(-500px);
}

    75% {
        transform: translateX(90px) translateY(-800px);
        -webkit-transform: translateX(90px) translateY(-800px);
        -moz-transform: translateX(90px) translateY(-800px);
        -ms-transform: translateX(90px) translateY(-800px);
        -o-transform: translateX(90px) translateY(-800px);
}

    100% {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    } 
}