* {
    margin: 0px;
    padding: 0px;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth; /* Es para realiza un scroll suave cuando hay que moverse dentro de una pagina*/
    text-rendering: optimizeSpeed; /* Renderiza fonts mas rapido */
    line-height: 1.5;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a {
    display: inline;
}

img, video, iframe, picture, figure {
    display: block;
    max-width: 100%;
}

form, input, select, textarea, button, label {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}