/* VARIABLES */
:root {
    --mx-width: 1320px;
    --color-text-body: #525260;
    --color-primary: #5956e9;
    --color-secondary: #ffffff;
    --color-banner: #2522ba;
    --color-text-btn: #1d77fd;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #c75c6f;
    --color-title: #000000;
    --color-bg-services: #f8f8f8;
    --color-bg-projects:#ecf2f6;
    --color-bg-dark: #27272e;
    --color-text-description: #99a1aa;
    --color-hover-dark: #3e3e44;
    --color-border: #e3e6e9;
}

/* ESTILOS GENERALES */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;

    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--color-text-body);
}


/* ESTRUCTURA */
.layout {
    width: 100%;
    min-width: 1200px;
    height: 100%;
}

/* Menu de Navegacion y Header */
.layout__menu {
    width: 100%;
    padding: 3.5rem 3rem;
}

.menu__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__navbar--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1.5rem 8rem;

}

.navbar__logo {
    width: 187px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__item {
    position: relative;
    margin: 0 2.4rem;
}

.nav__title {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--color-text-body);
    line-height: 6rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.nav__icon {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: center;
}

.nav__title:hover {
    color: var(--color-primary);
}

.nav__title::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: var(--color-primary);
    left: 0;
    bottom: 1.2rem;
    opacity: 0;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.nav__title:hover::before {
    width: 100%;
    opacity: 1;
}

.nav__submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-secondary);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.submenu__item {
    opacity: 1;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.submenu__item:nth-child(1) {
    transition-delay: 100ms;
}

.submenu__item:nth-child(2) {
    transition-delay: 200ms;
}

.submenu__item:nth-child(3) {
    transition-delay: 300ms;
}

.submenu__item:nth-child(4) {
    transition-delay: 400ms;
}

.submenu__item:nth-child(5) {
    transition-delay: 500ms;
}

.submenu__item:nth-child(6) {
    transition-delay: 600ms;
}

.submenu__item:nth-child(7) {
    transition-delay: 700ms;
}

.submenu__item:nth-child(8) {
    transition-delay: 800ms;
}

.submenu__item:nth-child(9) {
    transition-delay: 900ms;
}

.submenu__item:nth-child(10) {
    transition-delay: 1s;
}

.submenu__title {
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    left: 0;
}

.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.submenu__title:hover {
    color: var(--color-primary);
}

.submenu__title::after {
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 0;
    top: 50%;
    left: 0;
    background-color: var(--color-primary);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.submenu__title:hover::after {
    width: 100%;
}

/* ESTILOS BANNER */
.layout__banner {
    position: relative;
    z-index: 1;
    margin: 0 3rem;
    min-height: 60rem;
    padding: 15rem 0rem 20rem 10rem;
    overflow: hidden;
    background-color: var(--color-banner);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.banner__content {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 50%;
    padding: 0 1.5rem;
}

.banner__title {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: var(--color-secondary);
}

.banner__btn {
    display: inline-block;
    padding: 2.8rem 4.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-btn);
    background-color: var(--color-secondary);
    box-shadow: 0px 45px 80px -25px var(--color-primary);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.banner__btn:hover {
    background-color: var(--color-bg-btn);
    color: var(--color-secondary);

}

.shapes__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.shapes__item--shape1 {
    top: 0;
    right: 0;
    text-align: right;

    animation: showRight 1s;
    -webkit-animation: showRight 1s;
}

.shapes__item--shape2 {
    bottom: 0;
    left: 0;
    animation: showLeft 1s;
    -webkit-animation: showLeft 1s;
}

.shapes__item--shape3 {
    top: 34%;
    left: 50%;
    animation: moveShape3 20s infinite;
    -webkit-animation: moveShape3 20s infinite;
}

.shapes__item--shape4 {
    bottom: 24rem;
    left:45%;
    animation: moveShape4 30s infinite;
    -webkit-animation: moveShape4 30s infinite;
}

.shapes__item--shape4 .shapes__img {
    opacity: 0.5;
    width: 7.5rem;
}

.shapes__item--shape5 {
    bottom: 12rem;
    left:53%;
    animation: moveShape5 45s infinite;
    -webkit-animation: moveShape5 45s infinite;
}

.shapes__item--shape5 .shapes__img {
    opacity: 0.7;
}

.shapes__item--shape6 {
    bottom: 10rem;
    left:40%;
    animation: moveShape3 35s infinite;
    -webkit-animation: moveShape3 35s infinite;
}

.shapes__item--shape7 {
    z-index: 1;
    top:0;
    right: 10rem;
    animation: showTop 1s;
    -webkit-animation: showTop 1s;
}

/* Section Services */
.layout__services {
    position: relative;
    z-index: 1;
    margin: 15rem 10rem;
    margin-bottom: 10rem;
}

.services__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.services__header {
    text-align: left;
    margin-bottom: 2rem;
}

.services__subtitle,
.projects__subtitle,
.stats__subtitle,
.reviews__subtitle,
.clients__subtitle,
.news__subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--color-subtitle);
}

.services__title,
.projects__title,
.stats__title,
.reviews__title,
.clients__title,
.news__title {
    font-size: 6.7rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-title);
}

.services__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.services__service {
    width: 33%;
    height: 100%;
    padding: 5rem 4rem;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, var(--color-bg-services), transparent);
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-bg-services);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    
    display: flex;
    flex-direction: row;
}

.services__service:hover {
    background-color: var(--color-bg-services);
}

.service__container-img {
    margin-right: 2.5rem;
    max-width: 8.5rem;
    flex: 1;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.service__description {
    overflow: hidden;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.service__more {
    position: relative;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    padding-left: 5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.service__more::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 3.4rem;
    height: 1.5px;
    background-color: var(--color-text-body);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.service__more:hover,
.service__title:hover {
    color: var(--color-primary);
}

.service__more:hover::before {
    background-color: var(--color-primary);
}

/* Card services escalonados */
.services__service--top {
    margin-top: 0rem;
}

.services__service--middle{
    margin-top: 10rem;
}

.services__service--bottom {
    margin-top: 20rem;
}

/* Services Shapes */
.service-shapes__item {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.service-shapes--shape1 {
    top: -7%;
    right: 10%;
}

.service-shapes--shape2 {
    top: 10%;
    left: 52%;
}

.service-shapes--shape3 {
    top: 35%;
    left: 5%;
}

/* Seccion Proyectos */
.layout__projects {
    position: relative;
    z-index: 1;
    padding: 15rem 10rem;
    background-color: var(--color-bg-projects);
}

.projects__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.projects__header {
    margin-bottom: 4rem;
}

.projects__subtitle {
    text-transform: capitalize;
}

.projects__categories {
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.categories__item {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    cursor: pointer;
    padding: 0.8rem 0rem;
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
}

.categories__item:hover,
.categories__item--active {
    border-bottom: 2px solid var(--color-primary);
}

.projects__all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 7rem;
}

.projects__item {
    width: calc(50% - 3.5rem);
}

.projects__item:hover .project__img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.project__container-img {
    width: 100%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

.project__img {
    width: 100%;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
}

.project__content {
    background-color: var(--color-secondary);
    padding: 4rem;
    border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
}

.project__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--color-title);
}

.project__title:hover {
    color: var(--color-banner);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.project__tags {
    font-size: 1.6rem;
    color: var(--color-text-body);
}

.project-shapes__item{
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.project-shapes--shape1 {
    right: 15%;
    top: 4%;
}

.project-shapes--shape2 {
    right: 38%;
    top: 8%;
}

.project-shapes--shape3 {
    left: 6%;
    top: 35%;
}

/* Seccion Estadisticas */
.layout__stats,
.layout__clients {
    background-color: var(--color-bg-dark);
    padding: 15rem 10rem;
}

.stats__container,
.clients__container {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.stats__header,
.news__header {
    text-align: center !important;
}

.stats__title,
.clients__title {
    font-size: 6.6rem;
    margin-bottom: 3rem;
    color: var(--color-secondary);
}

.stats__description,
.clients__description,
.news__description {
    font-size: 2rem;
    line-height: 1.2;
    width: 60%;
    margin: 0 auto 4rem;
    color: var(--color-text-description);
}

.stats__progress {
    display: flex;
    flex-direction: row;

    gap: 3rem;
}

.stats__stat {
    width: 25%;
    text-align: center;
    padding: 7rem 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.stats__stat:hover {
    background: linear-gradient(180deg, var(--color-bg-dark), var(--color-hover-dark));
    border: 1px solid var(--color-hover-dark);
}

.stat__icon {
    margin-bottom: 2rem;
}

.stat__icon>img{
    margin: 0 auto;
    text-align: center;
}

.stat__count {
    display: inline-block;
    font-size: 6.4rem;
    font-weight: 500;
    color: var(--color-primary);
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: center;
}

.stat__title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-secondary);
}

/* Seccion Reviews */
.layout__reviews {
    position: relative;
    z-index: 1;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.reviews__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.reviews__header {
    text-align: left;
    margin-bottom: 6rem;
}

.reviews__description {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 3rem 0;
    width: 50%;
    color: var(--color-text-description);
}

.reviews__container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.reviews__review {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.review__company {
    display: inline-block;
    margin-bottom: 3rem;
}

.review__description {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 4rem;
    color: var(--color-bg-dark);
}

.review__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.author__container-img {
    max-width: 5rem;
    overflow: hidden;
    border-radius: 7rem;
    -webkit-border-radius: 7rem;
    -moz-border-radius: 7rem;
    -ms-border-radius: 7rem;
    -o-border-radius: 7rem;
}

.author__content {
    flex: 1;
}

.author__name {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-bg-dark);
    margin-bottom: 1rem;
}

.author__description {
    display: block;
    font-size: 1.5rem;
    color: var(--color-text-description);
}

.review-shapes__item {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 17%;
    right: 30%;
}

/* Seccion  Mejores Clientes */
.layout__clients {
    position: relative;
    z-index: 1;
    padding-bottom: 12rem;
}

.clients__header {
    text-align: left;
}

.clients__title {
    width: 50%;
    line-height: 1.2;
    font-weight: 500;
}

.clients__description{
    margin: 0;
    text-align: left;
    width: 40%;
    margin-bottom: 5rem;
}

.clients__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.clients__item {
    width: calc(25% - 3rem);
}

.clients__img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.clients__item:hover > .clients__img {
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.client-shapes__item {
    position: absolute;
    z-index: -1;
    top: 10rem;
    right: 0;
}

/* Seccion Ultimas Noticias (Last News) */
.layout__news {
    position: relative;
    z-index: 1;
    padding: 14rem 0rem;
}

.news__container {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.news__header {
    margin-bottom: 10rem;
}

.news__title {
    margin-bottom: 3rem;
}

.news__list {
    display: flex;
}

.news__new {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0 4rem 2rem;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.news__new:last-child {
    border-left: 1px solid var(--color-border);
    padding-left: 2.5rem;
}

.news__new:hover {
    border-top: 1px solid var(--color-primary);
}

.new__container-img {
    overflow: hidden;
    display: block;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.new__img {
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.news__new:hover .new__img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.new__content {
    flex: 1;
}

.new__title {
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 2rem;
}

.new__title:hover,
.new__more:hover {
    color: var(--color-primary);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.new__description {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: 400;
    color: var(--color-text-description);
    margin-bottom: 3rem;
}

.new__more {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-hover-dark);
}

.new__icon {
    font-size: 1.3rem;
    vertical-align: middle;
}

.new-shapes__item {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.new-shapes--shape1 {
    top: 14rem;
    left: 31.5rem;
}

.new-shapes--shape2 {
    right: 0;
    top: 12rem;
}

.new-shapes--shape3 {
    left: 0;
    bottom: 8rem;
}

.new-shapes--shape4 {
    right: 25rem;
    bottom: 5rem;
}

/* Estilos de Contacto */
.layout__contact {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    padding-top: 14rem;
    padding-bottom: 10rem;
}

.layout__contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 60rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-primary);
}

.contact__container {
    max-width: var(--mx-width);
    margin: 0 auto;
    overflow: hidden;
}

.contact__header {
    text-align: center;
    margin-bottom: 7rem;
}

.contact__subtitle {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: var(--color-bg-btn);
}

.contact__title {
    font-size: 6.5rem;
    line-height: 1.2;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
    color: var(--color-secondary);
}

.contact__btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 2rem;
    font-weight: 500;
    padding: 2.3rem 5rem;
    background-color: var(--color-secondary);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.contact__btn:hover {
    background-color: var(--color-bg-btn);
}

.contact__images {
    position: relative;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}

.contact__thumb {
    display: inline-block;
    pointer-events: none;
}

.contact__thumb--chatbox {
    position: relative;
    margin-right: -18rem;
    margin-bottom: -1rem;
}

.contact__thumb--laptop {
    position: absolute;
    bottom: 0;
    left: 15rem;
}

.contact__thumb--mobile {
    position: absolute;
    right: 8rem;
    bottom: 0;
}

.backshapes__item {
    position: absolute;
    z-index: -1;
}

.backshapes--shape1 {
    top: 0;
    left: 35%;
}

.backshapes--shape2 {
    top: 18rem;
    left: 18%;
    opacity: 0.5;
    animation: moveShape3 20s infinite;
    -webkit-animation: moveShape3 20s infinite;
}

.backshapes--shape3 {
    top: 31%;
    left: 20%;
    animation: moveShape4 20s infinite;
    -webkit-animation: moveShape4 20s infinite;
}

.backshapes--shape4 {
    top: 44%;
    left: 28%;
    animation: moveShape3 25s infinite;
    -webkit-animation: moveShape3 25s infinite;
}

.backshapes--shape5 {
    top: 50%;
    right: 17%;
    animation: moveShape4 30s infinite;
    -webkit-animation: moveShape4 30s infinite;
}

.backshapes--shape6 {
    top: 26%;
    right: 21%;
    animation: moveShape5 30s infinite;
    -webkit-animation: moveShape5 30s infinite;
}

.backshapes--shape7 {
    top: 30%;
    right: 15%;
    animation: moveShape3 30s infinite;
    -webkit-animation: moveShape3 30s infinite;
}

/* Estilos Seccion del Footer */
.layout__footer {
    padding-top: 1rem;
}

.footer__container {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.footer__top {
    padding-bottom: 7rem;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social__icon {
    display: inline-block;
    font-size: 3rem;
    color: var(--color-text-description);
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.social__item:hover .social__icon {
    color: var(--color-text-btn);
}

.footer__main {
    display: flex;
    flex-direction: row;
}

.footer__fleft {
    flex: 1;
}

.fleft__container {
    border-right: 1px solid var(--color-border);
    padding-right: 8rem;
    margin-right: 4rem;
    margin-bottom: 8rem;
}

.fleft__title {
    display: inline-block;
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-title);
    margin-bottom: 2rem;
}

.fleft__subtitle {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 4rem;
    color: var(--color-text-description);
}

.fleft__group {
    background-color: var(--color-secondary);
    height: 7.2rem;
    padding: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 24px 48px -15px #dddddd;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fleft__mail-icon {
    display: inline-block;
    margin-left: 1.5rem;
}

.fleft__form-control {
    display: block;
    position: relative;
    flex: 1;
    padding: 0.5rem 1.5rem;
    height: 100%;
    border: none;
    outline: none;
    color: var(--color-text-body);
}

.fleft__btn {
    cursor: pointer;
    border: none;
    outline: none;
    height: 5rem;
    background-color: var(--color-primary);
    padding: 1rem 2.8rem;
    color: var(--color-secondary);
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.fleft__btn:hover {
    background-color: var(--color-banner);
}

.footer__right {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.footer__widget {
    margin-bottom: 8rem;
    flex-basis: 33%;
}

.widget__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-title);
    margin-bottom: 3rem;
}

.widget__link {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.8rem 0;
    display: inline-block;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.widget__link:hover {
    color: var(--color-banner);
}

.footer__bottom {
    font-size: 1.7rem;
    border-top: 1px solid var(--color-border);
    color: var(--color-text-description);
    padding: 2.5rem 0;
    display: flex;
}

.footer__copyright {
    flex-basis: 50%;
}

.copyright__text,
.copyright__text > a {
    display: inline-block;
}

.footer__links {
    flex-basis: 50%;
}

.footer__flinks {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.flinks__title:hover {
    color: var(--color-banner);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}






/* Styles Navigation Resposive */
.navbar__movile-btn {
    display: none;
}

.movile-btn__wrap {
    background-color: var(--color-text-body);
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    border: none;
    border-radius: 3.2rem;
    -webkit-border-radius: 3.2rem;
    -moz-border-radius: 3.2rem;
    -ms-border-radius: 3.2rem;
    -o-border-radius: 3.2rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movile-btn__line {
    width: 2rem;
    height: 0.2rem;
    margin-bottom: 0.4rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.movile-btn__line:last-child {
    margin-bottom: 0;
    margin-right: -1rem;
    width: 1rem;
}


.menu-mobile {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 10;
    width: 300px;
    height: 100%;
    background-color: var(--color-secondary);
    padding: 0 1rem;
    box-shadow: 0 0 85px -35px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu-mobile--show {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.menu-mobile__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
    padding: 2rem 0rem;
    border-bottom: 1px solid var(--color-border);
}

.menu-mobile__container-logo {
    width: 15rem;
}

.menu-mobile__link-logo {
    display: inline-block;
    text-decoration: none;
}

.menu-mobile__close {
    background-color: transparent;
    font-size: 1.6rem;
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--color-border);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: var(--color-text-description);
    cursor: pointer;
}

.menu-mobile__list {
    display: block;
    height: 100%;
    overflow: auto;
}

.menu-mobile__item {
    position: relative;
    border-bottom: 1px solid var(--color-border);
    margin: 0 1rem;
}

.menu-mobile__title {
    position: relative;
    height: 5rem;
    line-height: 5rem;
    font-weight: 500;
    color: var(--color-text-body);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile__icon {
    font-size: 1.4rem;
}

.menu-mobile__submenu-mobile {
    display: none;
    visibility: visible;
    opacity: 1;
    min-width: 100%;
    padding: 0;
    padding-bottom: 1rem;
}

.submenu-mobile__title {
    display: block;
    text-decoration: none;
    padding: 0.7rem 1rem;
    position: relative;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-text-body);
}

/*  Botton Modes dark */
.switch {
    position: fixed;
    top: 20rem;
    left: 0;
    background-color: var(--color-primary);
    padding: 1rem;
    z-index: 5;
    border-radius: 0 3rem 3rem 0;
    -webkit-border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    -ms-border-radius: 0 3rem 3rem 0;
    -o-border-radius: 0 3rem 3rem 0;
}

.switch__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
}

.switch__icon--light,
.switch__icon--dark {
    font-size: 1.8rem;
    height: 4rem;
    width: 4rem;
    line-height: 3.6rem;
    color: var(--color-secondary);
}

.switch__icon--dark {
    display: none;
}