/* VARIABLES */
:root {

    --mx-width: 1320px;


    --color-text-body: #525260;

    --color-primary: #5956e9;
    --color-secondary: #ffffff;
    --color-banner: #2522ba;
    --color-text-btn: #1d77fd;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #c75c6f;
    --color-title: #000000;
    --color-bg-services: #f8f8f8;
    --color-bg-projects:#ecf2f6;
}



/* ESTILOS GENERALES */
html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;

    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--color-text-body);
}


/* ESTRUCTURA */
.layout {
    width: 100%;
    min-width: 1200px;
    height: 100%;
}

/* Menu de Navegacion y Header */
.layout__menu {
    width: 100%;
    padding: 3.5rem 3rem;
}

.menu__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    width: 187px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__item {
    position: relative;
    margin: 0 2.4rem;
}

.nav__title {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: var(--color-text-body);
    line-height: 6rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.nav__icon {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: center;
}

.nav__title:hover {
    color: var(--color-primary);
}

.nav__title::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: var(--color-primary);
    left: 0;
    bottom: 1.2rem;
    opacity: 0;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.nav__title:hover::before {
    width: 100%;
    opacity: 1;
}

.nav__submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-secondary);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.submenu__item {
    opacity: 1;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.submenu__item:nth-child(1) {
    transition-delay: 100ms;
}

.submenu__item:nth-child(2) {
    transition-delay: 200ms;
}

.submenu__item:nth-child(3) {
    transition-delay: 300ms;
}

.submenu__item:nth-child(4) {
    transition-delay: 400ms;
}

.submenu__item:nth-child(5) {
    transition-delay: 500ms;
}

.submenu__item:nth-child(6) {
    transition-delay: 600ms;
}

.submenu__item:nth-child(7) {
    transition-delay: 700ms;
}

.submenu__item:nth-child(8) {
    transition-delay: 800ms;
}

.submenu__item:nth-child(9) {
    transition-delay: 900ms;
}

.submenu__item:nth-child(10) {
    transition-delay: 1s;
}

.submenu__title {
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    left: 0;
}

.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.submenu__title:hover {
    color: var(--color-primary);
}

.submenu__title::after {
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 0;
    top: 50%;
    left: 0;
    background-color: var(--color-primary);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.submenu__title:hover::after {
    width: 100%;
}

/* ESTILOS BANNER */
.layout__banner {
    position: relative;
    z-index: 1;
    margin: 0 3rem;
    min-height: 60rem;
    padding: 15rem 0rem 20rem 10rem;
    overflow: hidden;
    background-color: var(--color-banner);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.banner__content {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 50%;
    padding: 0 1.5rem;
}

.banner__title {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
    color: var(--color-secondary);
}

.banner__btn {
    display: inline-block;
    padding: 2.8rem 4.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-text-btn);
    background-color: var(--color-secondary);
    box-shadow: 0px 45px 80px -25px var(--color-primary);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.banner__btn:hover {
    background-color: var(--color-bg-btn);
    color: var(--color-secondary);

}

.shapes__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.shapes__item--shape1 {
    top: 0;
    right: 0;
    text-align: right;

    animation: showRight 1s;
    -webkit-animation: showRight 1s;
}

.shapes__item--shape2 {
    bottom: 0;
    left: 0;
    animation: showLeft 1s;
    -webkit-animation: showLeft 1s;
}

.shapes__item--shape3 {
    top: 34%;
    left: 50%;
    animation: moveShape3 20s infinite;
    -webkit-animation: moveShape3 20s infinite;
}

.shapes__item--shape4 {
    bottom: 24rem;
    left:45%;
    animation: moveShape4 30s infinite;
    -webkit-animation: moveShape4 30s infinite;
}

.shapes__item--shape4 .shapes__img {
    opacity: 0.5;
    width: 7.5rem;
}

.shapes__item--shape5 {
    bottom: 12rem;
    left:53%;
    animation: moveShape5 45s infinite;
    -webkit-animation: moveShape5 45s infinite;
}

.shapes__item--shape5 .shapes__img {
    opacity: 0.7;
}

.shapes__item--shape6 {
    bottom: 10rem;
    left:40%;
    animation: moveShape3 35s infinite;
    -webkit-animation: moveShape3 35s infinite;
}

.shapes__item--shape7 {
    z-index: 1;
    top:0;
    right: 10rem;
    animation: showTop 1s;
    -webkit-animation: showTop 1s;
}

/* Section Services */
.layout__services {
    position: relative;
    z-index: 1;
    margin: 15rem 10rem;
}

.services__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.services__header {
    text-align: left;
    margin-bottom: 2rem;
}

.services__subtitle,
.projects__subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: var(--color-subtitle);
}

.services__title,
.projects__title {
    font-size: 6.7rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-title);
}

.services__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.services__service {
    width: 33%;
    height: 100%;
    padding: 5rem 4rem;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, var(--color-bg-services), transparent);
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-bg-services);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    
    display: flex;
    flex-direction: row;
}

.services__service:hover {
    background-color: var(--color-bg-services);
}

.service__container-img {
    margin-right: 2.5rem;
    max-width: 8.5rem;
    flex: 1;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.service__description {
    overflow: hidden;
    font-size: 1.7rem;
    margin-bottom: 4rem;
}

.service__more {
    position: relative;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    padding-left: 5rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.service__more::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 3.4rem;
    height: 1.5px;
    background-color: var(--color-text-body);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.service__more:hover,
.service__title:hover {
    color: var(--color-primary);
}

.service__more:hover::before {
    background-color: var(--color-primary);
}

/* Card services escalonados */
.services__service--top {
    margin-top: 0rem;
}

.services__service--middle{
    margin-top: 10rem;
}

.services__service--bottom {
    margin-top: 20rem;
}

/* Services Shapes */
.service-shapes__item {
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.service-shapes--shape1 {
    top: -7%;
    right: 10%;
}

.service-shapes--shape2 {
    top: 10%;
    left: 52%;
}

.service-shapes--shape3 {
    top: 35%;
    left: 5%;
}

/* Seccion Proyectos */
.layout__projects {
    position: relative;
    z-index: 1;
    padding: 15rem 10rem;
    background-color: var(--color-bg-projects);
}

.projects__grid {
    max-width: var(--mx-width);
    margin: 0 auto;
}

.projects__header {
    margin-bottom: 4rem;
}

.projects__subtitle {
    text-transform: capitalize;
}

.projects__categories {
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.categories__item {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.8rem 0rem;
}

.categories__item--active {
    border-bottom: 2px solid var(--color-primary);
}

.projects__all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 7rem;
}

.projects__item:hover .project__img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.project__container-img {
    width: 100%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

.project__img {
    width: 100%;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
}

.project__content {
    background-color: var(--color-secondary);
    padding: 4rem;
    border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
}

.project__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--color-title);
}

.project__title:hover {
    color: var(--color-banner);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.project__tags {
    font-size: 1.6rem;
    color: var(--color-text-body);
}